# Secrets
.env
.venv

# Data
/data/

# Mac OS-specific storage files
.DS_Store

# Exclude personal settings for PyCharm and Spyder
.idea
.spyproject

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Some reference files should be downloaded from the source:
references/API_documentation/SAM_entity_API/SAM_MASTER_EXTRACT_MAPPING_Oct2024.xlsx
